apiVersion: apps/v1
kind: Deployment
metadata:
  name: your-app-green
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: your-app
      color: green
  template:
    metadata:
      labels:
        app: your-app
        color: green
    spec:
      containers:
        - name: your-app
          image: REPLACEME_IMAGE:REPLACEME_TAG
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
