apiVersion: v1
kind: Service
metadata:
  name: your-app
  namespace: prod
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: your-app
    color: blue
